<main>
  <div class="wrapper">
    <div>
      <h1>Helpful Chooser</h1>
      <p>Welcome to our random choice generator.</p>
      <p>
        Enter as many options as you like and let the Helpful Chooser do the
        work!
      </p>
    </div>

    <form #addTodo="ngForm" (submit)="onSubmit()">
      <label for="input" class="sr-only"> Enter an option </label>
      <input
        id="input"
        type="text"
        name="option"
        class="form-control"
        placeholder="Add option"
        [(ngModel)]="input"
        required
      />
      <button type="submit" [disabled]="!input" class="outlined">Add</button>
    </form>

    <app-list [items]="items" (removeItemEvent)="remove($event)"></app-list>

    <div class="actions">
      <div *ngIf="result; else empty">
        <p>Selected choice: {{ result }}</p>
        <button (click)="startOver()">Start over</button>
      </div>
      <ng-template #empty>
        <button *ngIf="items.length > 1" (click)="choose()">Choose</button>
      </ng-template>
    </div>
  </div>
</main>
